<h1>Select Your Flight</h1>

<%= form_with url: flights_path, method: :get, local: true do |f|  %>
  <div>
    <%= f.label :departure_airport_id, "Departure Airports" %>
    <%= f.select(:departure_airport_id, options_for_select(@departing_flights + [["Select", 0]], params[:departure_airport_id] || 0)) %>
  </div>

  <div>
    <%= f.label :start_time, "Flight Date" %>
    <%= f.select(:start_time, options_for_select(@dates + [["Select", 0]], params[:start_time] || 0)) %>
  </div>

  <div>
    <%= f.label :arrival_airport_id, "Arrival Aiports" %>
    <%= f.select(:arrival_airport_id, options_for_select(@arriving_flights + [["Select", 0]], params[:arrival_airport_id] || 0)) %>
  </div>

  <div>
    <%= f.label :num_passengers, "Number of Passengers" %>
    <%= f.select(:num_passengers, options_for_select(Array.new(4) { |i| i + 1} + [["Select", 0]], params[:num_passengers] || 0 )) %>
  </div>
  <%= f.submit %>
<% end %>

<% unless @flights.empty? %>
  <%= form_with url: new_booking_path, method: :get, local: true do |f| %>
    <%= f.hidden_field :num_passengers, value: params[:num_passengers] %>

    <%= f.collection_radio_buttons :flight_id, @flights, :id, :start_time do |b| %>
      <div>
        <%= b.radio_button %>
        <%= b.label do %>
          <%= b.object.departure_airport.code %> - <%= b.object.arrival_airport.code %> <br>
          Date: <%= b.object.start_time %>
        <% end %>
      </div>
    <% end %>

    <%= f.submit "Select Flight" %>
  <% end %>
<% end %>

